body {
	font-family: Trebuchet MS, Verdana, sans-serif;
	font-size: 13px;
}

table {
	font-size: 13px;
}

div.navheader, div.navfooter, 
div.book, div.chapter, div.sect1, 
div.preface, div.appendix, div.index,
div.refnamediv, div.refsect1, div.refsynopsisdiv, div.reference {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

div.navheader {
	background: #fff url("../images/logo-small.png") no-repeat center top;
	padding-top: 35px;
}

div.navfooter {
	margin-top: 2em;
}

hr {
	display: none;
}

img {
	border: 0px;
}

div.mediaobject {
	float: left;
	margin: 0.6em;
}

a {
	color: #C12121; 
	text-decoration: none;
}

div.navheader a, div.navfooter a {
	font-weight: bold; 
}

p {
	text-indent: 1em;
	text-align: justify;
	margin-left: 1em;	
	margin-right: 1em;	
}

h1, h2, h3 {
	margin-top: 1.5em;
}

h3 {
	padding-left: 0.4em;
	border-bottom: 1px dashed #260e0c;
}

h5 {
    padding-left: 0.4em;    
}

div.variablelist { 
	margin-left: 3em;
}

pre.screen, pre.programlisting {
	font-size: 11px;
	margin-left: 3em;
	margin-right: 3em;
	background-color: #F0F0F0;
	padding: 0.5em;
}

p .systemitem {
	border-bottom: 1px dashed black;
}

div.caution, div.important {
	padding: 1em;
	border: 1px solid black;
}

div.caution p, div.important p {
	margin-left: 1em;
	margin-right: 1em;
}

div.caution {
	background-color: #fdff99;
}

/* about tables */

div.table table {
	font-size: 13px;
	border-collapse: collapse;
}

div.table col {
	border-style: hidden;
}

div.table tr.oddrow {
	background-color: #E0E0E0;
}

div.table td {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left:2em;
	padding-right:2em;
}
